# Project-specific ignores
original_program/

# Python.gitignore
logs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.swp

# Data and cache files
/data/
.cache/

# macOS
.DS_Store
.coverage
